@import "../assets/mixin--media-queries.scss";

@include mq($small) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 0.6rem;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-card__info {
  padding-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.2rem;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@include mq($large-up) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

@include mq($medium-up) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@include mq($large-up) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @include mq($medium-up) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}




div.card-wrapper.inatb-post {
  --padding: var(--base-gutter--half);
  // border: .1px solid RGBA(var(--color-foreground),0.25);

  --border--width: .1px;
  --border--color: RGBA(var(--color-foreground),0.5);
  box-shadow: 
    var(--border--width) 0 0 0 var(--border--color), 
    0 var(--border--width) 0 0 var(--border--color), 
    var(--border--width) var(--border--width) 0 0 var(--border--color),   /* Just to fix the corner */
    var(--border--width) 0 0 0 var(--border--color) inset, 
    0 var(--border--width) 0 0 var(--border--color) inset;
  
  .card__inner {
    --ratio-percent: 100% !important;
  }

  .article-card__image-wrapper {
    z-index: 100000;
    .btn {
      position: absolute;
      bottom: var(--padding);
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - (var(--padding) * 2));
      max-width: 400px;
      z-index: 100000;
      opacity: 0;
      // transition: all 15s ease;


      &:not(:hover) {
        --color--btn-primary-bg: var(--color--btn-primary-bg-hover);
        --color--btn-primary-bdr: var(--color--btn-primary-bg-hover);
        --color--btn-primary-txt: var(--color--btn-primary-txt-hover);
      }

      &:hover {
        --color--btn-primary-bg-hover: var(--color--btn-primary-bg);
        --color--btn-primary-bdr-hover: var(--color--btn-primary-bg);
        --color--btn-primary-txt-hover: var(--color--btn-primary-txt);
      }

    }
  }

  .card__information {
    text-align: left;
    padding: var(--padding);
    padding-bottom: calc(var(--padding) * 2);

    > * {
      &:not(:last-child) {
        margin-bottom: calc(var(--base-gutter--quarter) / 2);
      }
      margin-bottom: 0;
    }

    h3 {
      margin: 0;
      font: {
        family: var(--font--graphik-wide);
        size: 18px;
        weight: 600;
      }
      letter-spacing: 0.02em;
      line-height: 1;
    }
    .rte {
      font: {
        family: var(--font--graphik-wide);
        size: 12px;
        weight: 600;
      } 
      letter-spacing: .12em;
      text-transform: uppercase;
      line-height: 1;
    }

    @include mq($small) {
      
    }
  }

  &:hover, 
  &:focus-within {
    .article-card__image-wrapper {
      .btn {
        opacity: 1;
      }
    }
  }
}