
@import "../assets/mixin--media-queries.scss";

.section--ctas {
  position: relative;
  padding: var(--base-gutter--double) 0;
  z-index: 1;

  .page-width {
    padding: 0 var(--base-gutter);
  }

  .bg_image.main-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .bg_image+.page-width {
    * {
      // color: white;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: unset;
    margin-top: 0;
    margin: 0;
  }

  .rte {
    // font-size: 13px;
    // line-height: 1.5;
  }

  .video-inline {
    // Makes videos fit with no controls showing
    overflow: hidden;
    position: relative;

    .wrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0%;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
      }
    }
  }

  a {
    text-decoration: none;
    &:hover, 
    &:focus, 
    &:focus-within {
        * {
            text-decoration: underline;
        }
    }
  }

  .inner-container {
    // max-width: 400px;
    margin: 0 auto;
    display: block;

    .icon-image {
      margin: 0 auto;
      max-width: 150px;
    }

    .image-content__image-container:not(.icon-image)+* {
      // margin-top: 20px;
    }

    .badge {
      position: absolute;
      bottom: var(--base-gutter--half);
      left: var(--base-gutter--half);
    }

    h3 {
      position: relative;
      font: {
        size: 16px;
        weight: 700;
        family: var(--font--graphik-wide);
      }
      letter-spacing: 0.1em;

      .badge {
        background: transparent;
        border: none;
        color: currentColor;
        box-shadow: none;
        padding: 0;
        margin: 0;
        inset: unset;
        // top: 0;
        // right: 0;
        // transform: translate(-50%,-50%);
        position: relative;
        vertical-align: top;
        top: calc(var(--base-gutter--quarter) * -1);
        font-size: 12px;
      }
    }

    .image-wrapper {
      position: relative;
      // aspect-ratio: 1/1;

      .open-modal {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        padding: var(--base-gutter);
        background: RGBA(var(--color--marlin-black-rgb),0);
        z-index: 2;
        transition: all .15s ease-out;
        &:hover {
          background: RGBA(var(--color--marlin-black-rgb),0.5);
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 25px;
          height: 25px;
        }

      }
    }

    > *:not(:last-child) {
      margin-bottom: var(--base-gutter--half);
    }

    h3 {
      // font-size: 24px;
    }
  }

  .btn-container:not(:first-child) {
    margin-top: var(--base-gutter--double);
  }

  .btn {
    width: max-content;
    display: flex;
  }

  .cell.slick-initialized {
    margin: 0 ;

    &.slick-dotted {
      margin-bottom: var(--base-gutter--half);
    }
    .cell__item {
      padding: 0 15px;
      // display: inline-block;
      // vertical-align: middle;
    }
  }

  .slick-arrow {
    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }


  &.inline-ctas {
    padding: var(--base-gutter--half) 0;
    // background: #F7F7F7;

    .cell .cell__item {
      vertical-align: middle;
    }

    .inner-container {
      --grid-gutter: 10px;
      --grid-gutter--neg: calc(var(--grid-gutter) * -1);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 0 var(--grid-gutter--neg) var(--grid-gutter--neg);

      > .image-content__image-container,
      .image-container {
        flex: 0 1 css-min(10%,30px);
        margin: 0 var(--base-gutter--half) 0 0;
        margin: 0 0 var(--grid-gutter) var(--grid-gutter);
      }

      h3 {
        font-size: 17px;
        margin: 0;
        flex: 0 1 max-content;
        margin: 0 0 var(--grid-gutter) var(--grid-gutter);
      }

    }

    .cell__item {
      position: relative;
      // &:before {
      //   content: '';
      //   display: none;
      //   position: absolute;
      //   transform: translateY(-50%);
      //   top:50%;
      //   right: -15px;
      //   width: 1px;
      //   height: css-min(30px,100%);
      //   background: black;
      // }
      // &:last-child {
      //   &:before {
      //     display: none !important;
      //   }
      // }
    }
    @include mq($medium) {
      .medium--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .medium--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .medium--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .medium--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .medium--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }
    @include mq($medium-up) {
      .medium-up--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .medium-up--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .medium-up--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .medium-up--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .medium-up--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }
    @include mq($large) {
      .large--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .large--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .large--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .large--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .large--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }
    @include mq($large-up) {
      .large-up--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .large-up--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .large-up--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .large-up--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .large-up--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }
    @include mq($ex-large) {
      .ex-large--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .ex-large--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .ex-large--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .ex-large--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .ex-large--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }
    @include mq($ex-large-up) {
      .ex-large-up--one-half {
        &:nth-of-type(odd):before {
          display: block;
        }
      }
      .ex-large-up--one-third {
        &:not(:nth-child(3n)):before {
          display: block;
        }
      }
      .ex-large-up--one-quarter {
        &:not(:nth-child(4n)):before {
          display: block;
        }
      }
      .ex-large-up--one-fifth {
        &:not(:nth-child(5n)):before {
          display: block;
        }
      }
      .ex-large-up--one-sixth {
        &:not(:nth-child(6n)):before {
          display: block;
        }
      }
    }


  }


  @include mq($small) {
    padding: var(--base-gutter) 0 ;

    .cell.slick-initialized {
      // min-width: 500px;
    }

    // .inner-container {
    //   .feature-row__image-wrapper {
    //     max-width: 100px;
    //   }
    // }
  }
}




.section--ctas {
  overflow: hidden;

  .page-width {
    // max-width: calc(100% - var(--base-gutter));
    // padding: 0;
  
  }
  .image--inner {
    // padding-top: 125% !important;
  }

  .image--inner img {
    object-fit: cover;
  }

  .overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .cell:not(.slick-initialized) {
    // width: calc(100% - var(--base-gutter--half));
    // left: var(--base-gutter--half);
    position: relative;
  }
  .cell.slick-initialized.offset {
    --pull: var(--base-gutter--half);
    left: calc(var(--pull) * -1);
    width: 85%;
    position: unset;
    .cell__item {
      padding: 0 var(--pull);
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-prev {
    left: var(--base-gutter--half);
  }

  .slick-next {
    right: var(--base-gutter--half);
  }

  h3 {
    // font-size: 33px;
  }

  h4 {
    font: {
      family: var(--font-body-family);
      weight: 500;
      size: 13px;
    }
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }


  &.large-images {
    --padding: var(--base-gutter--half);

    .page-width {
      max-width: 1400px;
    }


    .image-wrapper:not(:last-child) {
      margin-bottom: calc(var(--padding) * 1.5);
    }

    .image--inner {
      padding-top: 118% !important;
    }

    h3, 
    .rte {
      padding-left: var(--padding);
      padding-right: var(--padding);
    } 

    .btn {
      margin: {
        left: auto;
        right: auto;
      }
      // margin-left: var(--padding);
      // margin-right: var(--padding);
      // max-width: calc(100% - (var(--padding) * 2));
    }
  }

  @include mq($not-narrow) {
    .cell.slick-initialized.offset {
      min-width: 170%;
    }
  }

  @include mq($medium-up) {
    .cell.slick-initialized.offset {
      min-width: 130%;
    }
    h3 {
      // font-size: 40px;
    }

    &.large-images {
      --padding: var(--base-gutter);
    }
    
  }

  @include mq($large-up) {
    .btn {
      padding: var(--base-gutter) var(--base-gutter--double);
    } 
    
    .cell.slick-initialized.offset {
      min-width: 0;
      width: 90%;
    }
  }


}
